.wallet-adapter-button.wallet-adapter-button-trigger {
  all: unset;

  @apply text-gray-800 px-3 flex items-center justify-center h-10 rounded-xl hover:!bg-gray-100;

  transition: color 100ms ease 0s, background, box-shadow, border-radius;
  box-shadow: inset 0 0 0 1px #e9eaec, 0px 2px 4px rgba(0, 0, 0, 0.02);
}
